---
import TypographyComponent from "@components/Typography";
import ProjectShowcaseComponent from "@components/ProjectShowcase";
import { t } from "i18next";
import type { Project } from "src/projects/types";

const projects = await Astro.glob("../../../pages/*.md");
---

<section id="projects" class="section">
  <div class="section-content">
    <div class="title-wrapper">
      <div class="title-typography">
        <div class="title-underline"></div>
        <TypographyComponent color="var(--foreground)" variant="h1-sans">
          {t("projects.sectionTitle")}</TypographyComponent
        >
      </div>
    </div>

    <div class="projects-list-container">
      {
        projects.map((project) => (
          <ProjectShowcaseComponent
            project={project.frontmatter as Project}
            url={project.url}
          />
        ))
      }
    </div>
  </div>
</section>
