:root {
  --serif-font-family: "Lora", serif;
  --sans-serif-font-family: "Poppins", sans-serif;
  --foreground: #141414;
  --primary: #f35f52;
}

#theme-switch-input:checked ~ * {
  --primary: green;
}
