:root {
  --serif-font-family: "Lora", serif;
  --sans-serif-font-family: "Poppins", sans-serif;
  --primary: #f35f52;
  --secondary: #6993ff;
  --background: #141414;
  --background1: #282828;
  --background2: #333333;
  --foreground: #efefef;
  --foreground1: #efefef;
  --foreground2: #7e7e7e;
  --gradient-stop-color-0: #1846bc;
  --gradient-stop-color-1: #6993ff;
  --gradient: linear-gradient(90deg, #1846bc 0%, #6993ff 100%);
  --gradient1: linear-gradient(90deg, #6993ff 0%, #86a8ff 100%);
}

#theme-switch-input:checked ~ * {
  --background: #efefef;
  --background1: #efefef;
  --background2: #fff;
  --foreground: #141414;
  --foreground1: #333333;
  --foreground2: #818181;
  --gradient-stop-color-0: #6993ff;
  --gradient-stop-color-1: #86a8ff;
  --gradient: linear-gradient(90deg, #6993ff 0%, #86a8ff 100%);
  --gradient1: linear-gradient(90deg, #1846bc 0%, #6993ff 100%);
}

* {
  transition: all 0.2s ease;
}
