@import url("./animations.css");

.intro {
  background: var(--gradient);
  width: 100%;
  height: 100%;
  padding: 10% 2rem 30% 2rem;
}

.intro-content {
  width: 100%;
  max-width: 2560px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 35%;
  max-width: 14rem;
  aspect-ratio: 1;
  object-fit: cover;
  border: 4px solid var(--foreground1);
  border-radius: 99999px;
}

.intro-hero-right-side,
.clock {
  display: none;
}

.mobile-bottom-bar-active-item-typography {
  color: var(--foreground) !important;
}

.mobile-bottom-bar-active-item svg * {
  stroke: var(--foreground) !important;
}

.mobile-social-links-wrapper {
  margin-top: 1rem;
}

.desktop-social-links-wrapper {
  display: none;
}

.chevrons-down-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.subtitle-separator {
  margin-top: 0.4rem;
}

.bottom-bar-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 24px 20px;
  z-index: 5;
}

.two-circles-icon-wrapper {
  display: none;
}

.top-bar {
  display: none;
}

.bottom-bar {
  background-color: var(--bottom-bar-color);
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.bottom-bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar-item svg {
  margin-bottom: 4px;
}

.section {
  padding: 2.875rem 2.25rem;
}

.about-me {
  background-color: var(--background2);
}

.title-wrapper {
  position: relative;
  display: inline-block;
}

.title-typography {
  position: relative;
  z-index: 2;
}

.title-underline {
  width: 100%;
  height: 0.6rem;
  background: var(--gradient1);
  opacity: 0.4;
  position: absolute;
  bottom: 0.25rem;
  left: -8px;
  width: 160%;
}

.about-me-info {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}

.about-me-img {
  display: none;
}

.about-me-description-wrapper {
  position: relative;
}

.about-me-social-icons-wrapper {
  margin-top: 2.25rem;
}

.about-me-social-icons-wrapper svg:not(:first-child) {
  margin-left: 1.5rem;
}

.experience {
  background-color: var(--background1);
}

.experience-content-container {
  margin-top: 2.5rem;
}

.experience-type-tabs {
  width: 100%;
  background-color: #343434;
  display: flex;
  position: relative;
  margin-bottom: 0.25rem;
}

.experience-type-button-container {
  width: 50%;
  background-color: transparent;
  padding: 1rem 0px;
  border-bottom-width: 4px;
  border-bottom-color: #484848;
  border-bottom-style: solid;
  position: relative;
}

.experience-type-button-text {
  text-align: center !important;
  font-size: 1.125rem;
}

.experience-type-radio {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

.experience-type-radio-label {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  opacity: 1;
  opacity: 0;
}

.experience-type-radio-label:nth-child(2) {
  left: 50%;
}

.experience-type-indicator {
  width: 50%;
  background-color: #6993ff33;
  border-bottom-width: 4px;
  border-bottom-color: #6993ff66;
  border-bottom-style: solid;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  bottom: 0px;
}

.experience-type-radio#work:checked
  ~ .experience-type-tabs
  .experience-type-radio-label:nth-child(2) {
  cursor: pointer;
}

.experience-type-radio#education:checked
  ~ .experience-type-tabs
  .experience-type-radio-label:first-child {
  cursor: pointer;
}

.experience-type-radio#work:checked
  ~ .experience-type-tabs
  .experience-type-indicator {
  left: 0px;
}

.experience-type-radio#education:checked
  ~ .experience-type-tabs
  .experience-type-indicator {
  left: 50%;
}

.experience-type-radio#work:checked ~ .experience-education-content {
  display: none;
}

.experience-type-radio#education:checked ~ .experience-work-content {
  display: none;
}

.experience-type-indicator * {
  visibility: hidden;
}

.chevrons-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.75;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.chevrons-up-icon-container {
  display: inline-block;
  transform: rotate(180deg);
}

.chevrons-up-icon-container svg {
  width: 48px;
  height: 48px;
}

.chevrons-up-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--foreground);
}

#footer {
  background-color: var(--background);
  padding: 3.625rem 1.75rem 8rem 1.75rem;
}

.footer-title {
  margin-bottom: 1.25rem;
}

.footer-content + .footer-content {
  margin-top: 2.5rem;
}

.footer-button-mt {
  margin-top: 1rem;
}
