#theme-switch-input:checked ~ * #light-bulb-on,
#theme-switch-input:checked ~ * #light-centered-focus,
#theme-switch-input:checked ~ * #light-disperse-focus {
  display: none;
}

@media (min-width: 1000px) {
  .title-underline {
    bottom: 0.5rem;
    height: 0.75rem;
  }
}

@media (min-width: 1800px) {
  .title-underline {
    bottom: 0.75rem;
    height: 1rem;
  }
}

@media (min-width: 1800px) {
  .title-underline {
    bottom: 1rem;
    height: 1.25rem;
  }
}

@media (min-width: 1180px) {
  .intro {
    padding: 3rem 5.625rem 5.625rem;
    min-height: 600px;
  }

  .section {
    padding: 8rem;
  }

  .profile-image-wrapper {
    display: none;
  }

  .bottom-bar {
    display: none;
  }

  .mobile-social-links-wrapper {
    display: none;
  }

  .intro-hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro-hero {
    margin-top: 0px;
  }

  .intro-hero-right-side {
    position: relative;
  }

  .intro-hero-right-side,
  .clock {
    display: block;
  }

  .lamp-icon-wrapper,
  .intro-hero-svg {
    display: block;
  }

  .intro-hero-right-side .intro-hero-svg svg,
  .intro-hero-right-side .lamp-icon-wrapper svg {
    width: 24rem;
    height: auto;
    height: min-content;
  }

  .lamp-icon-wrapper {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .lamp-theme-switch {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 22rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .desktop-social-links-wrapper {
    display: flex;
    margin-top: 4rem;
  }

  .top-bar {
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    flex-gap: 16px;
    margin-left: -0.75rem;
  }

  .nav-link {
    padding: 0.75rem;
  }

  .nav-item + .nav-item {
    margin-left: 2.75rem;
  }

  .two-circles-icon-wrapper {
    display: block;
    margin-top: -7rem;
    margin-left: -7rem;
    position: absolute;
  }

  .on-top-of-absolute-icon {
    position: relative;
    z-index: 2;
  }

  .about-me-img {
    display: block;
    width: 12rem;
    height: 12rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 9999px;
    margin-right: 4rem;
    border: 4px solid var(--foreground2);
  }

  .about-me-info {
    margin-top: 3.5rem;
  }

  .experience-content-container {
    display: flex;
  }

  .experience-type-tabs {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: auto;
    margin-right: 3.5rem;
    background-color: transparent;
  }

  .experience-type-button-container {
    width: 100%;
    border-bottom: none;
    border-left-width: 4px;
    border-left-color: var(--indicator-placeholder-color1);
    border-left-style: solid;
    padding-left: 1.5rem;
    padding-right: 2.5rem;
  }

  .experience-type-button-text {
    text-align: left !important;
  }

  .experience-type-radio-label {
    width: 100%;
    height: 50%;
  }

  .experience-type-radio-label:nth-child(2) {
    left: 0px;
    top: 50%;
  }

  .experience-type-indicator {
    left: 0px;
    top: 0px;
    height: 50%;

    border-bottom: none;
    border-left-width: 4px;
    border-left-color: var(--indicator-color1);
    border-left-style: solid;
  }

  .experience-type-radio#work:checked
    ~ .experience-type-tabs
    .experience-type-indicator {
    left: 0px;
    top: 0px;
  }

  .experience-type-radio#education:checked
    ~ .experience-type-tabs
    .experience-type-indicator {
    left: 0px;
    top: 50%;
  }

  .section.experience {
    padding-bottom: 5rem;
  }

  .chevrons-up-container {
    margin-top: 8rem;
  }
}

@media (min-width: 1500px) {
  .intro {
    min-height: 720px;
  }

  .intro-hero-right-side .intro-hero-svg svg {
    width: 28rem;
  }

  .section {
    padding: 8rem 10rem;
  }

  .about-me-info {
    margin-top: 4rem;
  }

  .experience-content-container {
    margin-top: 3rem;
  }
}

@media (min-width: 1800px) {
  .intro {
    padding: 5.625rem;
    min-height: 900px;
  }

  .section {
    padding: 8rem 16rem;
  }

  .lamp-icon-wrapper {
    bottom: 1rem;
  }

  .intro-hero-right-side .intro-hero-svg svg {
    width: 44rem;
  }

  .intro-hero-right-side .lamp-icon-wrapper svg {
    width: 30.625rem;
    height: auto;
  }

  .lamp-theme-switch {
    bottom: 30rem;
  }

  .clock {
    top: 5rem;
    right: 12rem;
  }

  .about-me-info {
    margin-top: 5rem;
  }

  .experience-type-button-text {
    font-size: 1.75rem;
  }

  .section.experience {
    padding-bottom: 8rem;
  }

  .chevrons-up-container {
    margin-top: 12rem;
  }
}

@media (min-width: 2500px) {
  .intro {
    padding: 7.625rem;
    min-height: 1024px;
  }

  .section {
    padding: 12rem 16rem;
  }

  .intro-hero-right-side .intro-hero-svg svg {
    width: 52rem;
  }

  .clock {
    right: 13rem;
  }

  .lamp-theme-switch {
    bottom: 34rem;
  }

  .intro-hero-right-side .lamp-icon-wrapper svg {
    width: 34rem;
    height: auto;
  }

  .experience-type-button-text {
    font-size: 2rem;
  }

  .experience-type-button-container {
    padding-right: 5rem;
  }

  .experience-content-container {
    margin-top: 5rem;
  }
}

@media (min-width: 2900px) {
  .two-circles-icon-wrapper {
    display: none;
  }
}

@media (min-width: 3600px) {
  .intro {
    min-height: 1440px;
  }

  .intro-hero-right-side .intro-hero-svg svg {
    width: 62rem;
  }

  .intro-hero-right-side .lamp-icon-wrapper svg {
    width: 46rem;
    height: auto;
  }

  .lamp-theme-switch {
    bottom: 46rem;
    width: 260px;
    height: 260px;
  }

  .clock {
    right: 15rem;
    top: 6rem;
  }
}
