---
import IconComponent from "@components/Icon";
import SpaceComponent from "@components/Space";
import TypographyComponent from "@components/Typography";
import DefaultLayout from "@layouts/Default.Layout.astro";

import "../styles/pages/index/styles.css";

import { t } from "i18next";

import profileImage from "../assets/profile.jpg";
---

<style>
  :global(.mobile-bottom-bar-active-item-typography) {
    color: var(--foreground) !important;
  }

  .mobile-bottom-bar-active-item :global(svg *) {
    stroke: var(--foreground) !important;
  }
</style>

<DefaultLayout>
  <section class="intro">
    <div class="profile-image-wrapper">
      <img class="profile-image" src={profileImage} alt="" />
    </div>

    <div class="profile-info">
      <TypographyComponent class="title" variant="h1-sans"
        >VINÍCIUS RODRIGUES DE ARO</TypographyComponent
      >

      <div class="subtitle-separator"></div>

      <TypographyComponent color="var(--foreground1)" variant="h2-sans"
        >MOBILE DEVELOPER</TypographyComponent
      >

      <div class="social-links-wrapper">
        <IconComponent size={32} name="linkedin" color="var(--foreground)" />
        <SpaceComponent direction="horizontal" size={24} />
        <IconComponent size={32} name="github" color="var(--foreground)" />
      </div>
    </div>

    <div class="chevrons-down-wrapper">
      <IconComponent size={64} name="chevronsDown" color="var(--foreground1)" />
    </div>
  </section>

  <div class="bottom-bar-wrapper">
    <div class="bottom-bar">
      <div class="bottom-bar-item mobile-bottom-bar-active-item">
        <IconComponent size={26} name="home" color="var(--foreground2)" />
        <TypographyComponent
          class="mobile-bottom-bar-active-item-typography"
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">home</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="user" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">about</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="briefcase" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">about</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="archive" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)"
          color="var(--foreground2)">about</TypographyComponent
        >
      </div>
    </div>
  </div>
</DefaultLayout>
