---
import IconComponent from "@components/Icon";
import SpaceComponent from "@components/Space";
import TypographyComponent from "@components/Typography";
import ExperienceComponent from "@components/Experience";
import ButtonComponent from "@components/Button";
import DefaultLayout from "@layouts/Default.Layout.astro";

import "../styles/pages/index/styles.css";

import profileImage from "../assets/profile.jpg";
import {
  ThemeSwitchButtonComponent,
  ThemeSwitchButtonUnstyledWrapper,
} from "@components/ThemeSwitch";
---

<script>
  // Scroll to the top
  const chevronsUpBtn = document.querySelector(".chevrons-up-container");
  chevronsUpBtn?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<script>
  // Scroll to about me section
  const aboutMeSection = document.querySelector("section.about-me");

  const chevronDownBtn = document.querySelector(".chevrons-down-wrapper");
  chevronDownBtn?.addEventListener("click", () =>
    aboutMeSection?.scrollIntoView({ behavior: "smooth" })
  );
</script>

<DefaultLayout>
  <div class="two-circles-icon-wrapper">
    <IconComponent
      name="twoCirclesPattern"
      color="var(--gradient-stop-color-0)"
      color1="var(--gradient-stop-color-1)"
    />
  </div>

  <section id="intro" class="intro">
    <div class="intro-content">
      <div class="profile-image-wrapper">
        <img class="profile-image" src={profileImage} alt="" />
      </div>

      <nav class="top-bar on-top-of-absolute-icon">
        <div class="nav-item">
          <ButtonComponent variant="text" fontWeight="bold" title="home" />
        </div>
        <div class="nav-item">
          <ButtonComponent variant="text" fontWeight="bold" title="about me" />
        </div>
        <div class="nav-item">
          <ButtonComponent variant="text" fontWeight="bold" title="projects" />
        </div>
        <div class="nav-item">
          <ButtonComponent variant="text" fontWeight="bold" title="blog" />
        </div>
        <div class="nav-item">
          <ThemeSwitchButtonComponent />
        </div>
      </nav>

      <div class="intro-hero-wrapper">
        <div class="intro-hero on-top-of-absolute-icon">
          <TypographyComponent class="title" variant="h1-sans"
            >VINÍCIUS RODRIGUES DE ARO</TypographyComponent
          >

          <div class="subtitle-separator"></div>

          <TypographyComponent color="var(--foreground1)" variant="h2-sans"
            >MOBILE DEVELOPER</TypographyComponent
          >

          <div class="mobile-social-links-wrapper">
            <IconComponent
              size={32}
              name="linkedin"
              color="var(--foreground)"
            />
            <SpaceComponent direction="horizontal" size={24} />
            <IconComponent size={32} name="github" color="var(--foreground)" />
          </div>

          <div class="desktop-social-links-wrapper">
            <ButtonComponent
              redirectTo="https://www.linkedin.com/in/vinicius-rodrigues-aro/"
              id="linkedin-button"
              showIcon={true}
              iconName="linkedin"
              iconPosition="left"
              title="LinkedIn"
            />

            <SpaceComponent direction="vertical" size="2rem" />

            <ButtonComponent
              id="github-button"
              showIcon={true}
              iconName="linkedin"
              iconPosition="left"
              title="GitHub"
            />
          </div>
        </div>

        <div class="intro-hero-right-side">
          <div class="clock">
            <div class="clock-hour-0"></div>
            <div class="clock-hour-1"></div>
            <div class="clock-hour-2"></div>
            <div class="clock-hour-3"></div>
            <div class="clock-center-marker"></div>
            <div class="clock-minute-hand"></div>
            <div class="clock-hour-hand"></div>
          </div>

          <div class="intro-hero-svg">
            <IconComponent
              name="person"
              color="var(--gradient-stop-color-0)"
              color1="var(--gradient-stop-color-1)"
            />
          </div>

          <div class="lamp-icon-wrapper">
            <IconComponent name="lamp" />

            <ThemeSwitchButtonUnstyledWrapper>
              <div class="lamp-theme-switch"></div>
            </ThemeSwitchButtonUnstyledWrapper>
          </div>
        </div>
      </div>

      <button type="button" class="chevrons-down-wrapper">
        <IconComponent
          size={64}
          name="chevronsDown"
          color="var(--foreground1)"
        />
      </button>
    </div>
  </section>

  <section class="section about-me">
    <div class="title-wrapper">
      <div class="title-underline"></div>
      <div class="title-typography">
        <TypographyComponent color="var(--foreground)" variant="h1-sans"
          >ABOUT ME</TypographyComponent
        >
      </div>
    </div>

    <div class="about-me-info">
      <img class="about-me-img" src={profileImage} alt="" />

      <div>
        <div class="about-me-description-wrapper">
          <TypographyComponent
            color="var(--foreground)"
            variant="body"
            textAlign="justify"
            >Em busca do meu primeiro emprego como desenvolvedor, procuro
            crescer com a empresa e adquirir experiência. Possuo uma base sólida
            de conhecimento em Git/GitHub; Bash e Linux/Unix. Já desenvolvi
            projetos completos, expostos no meu GitHub, utilizando NodeJS e
            ReactJS com TypeScript, seguindo padrões de projeto.</TypographyComponent
          >
        </div>

        <div class="about-me-social-icons-wrapper">
          <IconComponent color="var(--foreground)" size={32} name="linkedin" />
          <IconComponent color="var(--foreground)" size={32} name="github" />
          <IconComponent color="var(--foreground)" size={32} name="mail" />
        </div>
      </div>
    </div>
  </section>

  <section class="section experience">
    <div class="title-wrapper">
      <div class="title-underline"></div>
      <div class="title-typography">
        <TypographyComponent color="var(--foreground)" variant="h1-sans"
          >EXPERIENCE</TypographyComponent
        >
      </div>
    </div>

    <div class="experience-content-container">
      <input
        class="experience-type-radio"
        type="radio"
        id="work"
        name="experience"
        value="work"
        checked
      />
      <input
        class="experience-type-radio"
        type="radio"
        id="education"
        name="experience"
        value="education"
      />

      <div class="experience-type-tabs">
        <label class="experience-type-radio-label" for="work"></label>
        <label class="experience-type-radio-label" for="education"></label>

        <div class="experience-type-button-container experience-type-indicator">
          <TypographyComponent
            class="experience-type-button-text"
            variant="button">-</TypographyComponent
          >
        </div>
        <div class="experience-type-button-container">
          <TypographyComponent
            class="experience-type-button-text"
            variant="button">Work</TypographyComponent
          >
        </div>
        <div class="experience-type-button-container">
          <TypographyComponent
            class="experience-type-button-text"
            variant="button">Education</TypographyComponent
          >
        </div>
      </div>

      <div class="experience-work-content">
        <ExperienceComponent
          title="Desenvolvedor React Native"
          formattedDate="Out 2021 - Atual"
          company="GlobalSys - FullTime"
          companyLink="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          description="Em busca do meu primeiro emprego como desenvolvedor, procuro crescer com a empresa e adquirir experiência. Possuo uma base sólida de conhecimento em Git/GitHub; Bash e Linux/Unix. Já desenvolvi projetos completos, expostos no meu GitHub, utilizando NodeJS e ReactJS com TypeScript, seguindo padrões de projeto."
        />

        <ExperienceComponent
          title="Desenvolvedor React Native"
          formattedDate="Out 2021 - Atual"
          company="GlobalSys - FullTime"
          companyLink="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          description="Em busca do meu primeiro emprego como desenvolvedor, procuro crescer com a empresa e adquirir experiência. Possuo uma base sólida de conhecimento em Git/GitHub; Bash e Linux/Unix. Já desenvolvi projetos completos, expostos no meu GitHub, utilizando NodeJS e ReactJS com TypeScript, seguindo padrões de projeto."
        />
      </div>

      <div class="experience-education-content">
        <ExperienceComponent
          title="Desenvolvedor React Native"
          formattedDate="Out 2021 - Atual"
          company="GlobalSys - FullTime"
          companyLink="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          description="Em busca do meu primeiro emprego como desenvolvedor, procuro crescer com a empresa e adquirir experiência. Possuo uma base sólida de conhecimento em Git/GitHub; Bash e Linux/Unix. Já desenvolvi projetos completos, expostos no meu GitHub, utilizando NodeJS e ReactJS com TypeScript, seguindo padrões de projeto."
        />
      </div>
    </div>

    <button type="button" class="chevrons-up-container">
      <div class="chevrons-up-icon-container">
        <div class="chevrons-up-icon-inner-container">
          <IconComponent name="chevronsDown" color="var(--foreground)" />
        </div>
      </div>

      <TypographyComponent
        class="chevrons-up-text"
        variant="button"
        textAlign="center">Go back to top</TypographyComponent
      >
    </button>
  </section>

  <footer id="footer">
    <div class="footer-content">
      <TypographyComponent
        class="footer-title"
        variant="h1-serif"
        color="var(--foreground)">Let's work together</TypographyComponent
      >

      <ButtonComponent
        variant="text"
        title="viniciusrodrigues.aro@gmail.com"
        fontWeight="normal"
        color="var(--foreground2)"
      />
    </div>

    <div class="footer-content">
      <TypographyComponent
        class="footer-title"
        variant="h1-serif"
        color="var(--foreground)">Check out my work here</TypographyComponent
      >
      <ButtonComponent
        variant="text"
        title="LinkedIn"
        iconName="externalLink"
        iconPosition="right"
        fontWeight="normal"
        color="var(--foreground2)"
        iconSize={20}
        showIcon
      />
      <ButtonComponent
        class="footer-button-mt"
        variant="text"
        title="GitHub"
        iconName="externalLink"
        iconPosition="right"
        fontWeight="normal"
        color="var(--foreground2)"
        iconSize={20}
        showIcon
      />
    </div>

    <div class="footer-content">
      <TypographyComponent
        class="footer-title"
        variant="h1-serif"
        color="var(--foreground)">Preferences</TypographyComponent
      >
      <ButtonComponent
        variant="text"
        title="Change language"
        iconName="globe"
        iconPosition="left"
        fontWeight="normal"
        color="var(--foreground2)"
        iconSize={20}
        showIcon
      />
      <ButtonComponent
        class="footer-button-mt"
        variant="text"
        title="Change theme"
        iconName="moon"
        iconPosition="left"
        fontWeight="normal"
        color="var(--foreground2)"
        iconSize={20}
        showIcon
      />
    </div>
  </footer>

  <div class="bottom-bar-wrapper">
    <div class="bottom-bar">
      <div class="bottom-bar-item mobile-bottom-bar-active-item">
        <IconComponent size={26} name="home" color="var(--foreground2)" />
        <TypographyComponent
          class="mobile-bottom-bar-active-item-typography"
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">home</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="user" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">about</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="briefcase" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)">about</TypographyComponent
        >
      </div>

      <div class="bottom-bar-item">
        <IconComponent size={26} name="archive" color="var(--foreground2)" />
        <TypographyComponent
          color="var(--foreground2)"
          fontSize={14}
          fontFamily="var(--sans-serif-font-family)"
          color="var(--foreground2)">about</TypographyComponent
        >
      </div>
    </div>
  </div>
</DefaultLayout>
