---
import DefaultLayout from "@layouts/Default.Layout.astro";

import TypographyComponent from "@components/Typography";
import ButtonComponent from "@components/Button";
import IconComponent from "@components/Icon";
import { ThemeSwitchButtonComponent } from "@components/ThemeSwitch";
---

<DefaultLayout>
  {/* Typography component */}
  <TypographyComponent variant="h1-sans"
    >VINÍCIUS RODRIGUES DE ARO</TypographyComponent
  >
  <TypographyComponent variant="h2-sans">MOBILE DEVELOPER</TypographyComponent>
  <TypographyComponent variant="h1-serif"
    >Let's work together</TypographyComponent
  >
  <TypographyComponent variant="button">LinkedIn</TypographyComponent>
  <TypographyComponent variant="body">Body text</TypographyComponent>

  {/* Icon component */}
  <IconComponent name="archive" color="var(--foreground)" size={64} />
  <IconComponent name="briefcase" color="var(--foreground)" size={64} />
  <IconComponent name="chevronDown" color="var(--foreground)" size={64} />
  <IconComponent name="chevronsDown" color="var(--foreground)" size={64} />
  <IconComponent name="close" color="var(--foreground)" size={64} />
  <IconComponent name="edit2" color="var(--foreground)" size={64} />
  <IconComponent name="externalLink" color="var(--foreground)" size={64} />
  <IconComponent name="github" color="var(--foreground)" size={64} />
  <IconComponent name="globe" color="var(--foreground)" size={64} />
  <IconComponent name="home" color="var(--foreground)" size={64} />
  <IconComponent name="instagram" color="var(--foreground)" size={64} />
  <IconComponent name="linkedin" color="var(--foreground)" size={64} />
  <IconComponent name="mail" color="var(--foreground)" size={64} />
  <IconComponent name="menu" color="var(--foreground)" size={64} />
  <IconComponent name="moon" color="var(--foreground)" size={64} />
  <IconComponent name="moreHorizontal" color="var(--foreground)" size={64} />
  <IconComponent name="sun" color="var(--foreground)" size={64} />
  <IconComponent name="user" color="var(--foreground)" size={64} />
  <div></div>
  <IconComponent name="dotPattern" color="#4663AC" size={64} />
  <div></div>
  <IconComponent name="person" color="var(--foreground)" size={64} />
  <div></div>
  <IconComponent name="twoCirclesPattern" color="var(--foreground)" size={64} />
  <div></div>
  <IconComponent name="lamp" color="var(--foreground)" size={64} />

  {/* Button component */}
  <ButtonComponent title="LinkedIn" />
  <ButtonComponent
    title="LinkedIn"
    showIcon
    iconPosition="left"
    iconName="linkedin"
  />
  <ButtonComponent
    title="LinkedIn"
    showIcon
    iconPosition="right"
    iconName="linkedin"
  />

  <ButtonComponent variant="text" title="LinkedIn" />
  <ButtonComponent
    variant="text"
    title="LinkedIn"
    showIcon
    iconPosition="left"
    iconName="linkedin"
  />
  <ButtonComponent
    variant="text"
    title="LinkedIn"
    showIcon
    iconPosition="right"
    iconName="linkedin"
  />

  {/* Theme switch button component */}
  <ThemeSwitchButtonComponent />
</DefaultLayout>
