---
import i18next, { t } from "i18next";

import IconComponent from "@components/Icon";
import TypographyComponent from "@components/Typography";
import LanguageSwitchButtonUnstyledWrapper from "./LanguageSwitchButtonUnstyledWrapper.Component.astro";
import LanguageSwitchSelect from "./LanguageSwitchSelect.Component.astro";

export type Props = {
  appendURL?: string;
};

const { appendURL } = Astro.props;

const formattedLanguage = i18next.resolvedLanguage.toUpperCase();
---

<style>
  .language-switch-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  .language-nocss-fallback {
    display: none;
  }
</style>

<LanguageSwitchButtonUnstyledWrapper>
  <div class="language-switch-container">
    <IconComponent name="globe" size={24} color="var(--foreground, black)" />

    <span class="language-nocss-fallback"
      >{t("intro.nav.languageFallbackText")}</span
    >

    <TypographyComponent variant="button" fontWeight="bold"
      >{formattedLanguage}</TypographyComponent
    >

    <IconComponent
      name="chevronDown"
      size={24}
      color="var(--foreground, white)"
    />
  </div>

  <LanguageSwitchSelect
    buttonId0="language-switch-ptBR-0"
    buttonId1="language-switch-en-0"
    appendURL={appendURL}
  />
</LanguageSwitchButtonUnstyledWrapper>
