---
import "@styles/theme.css";

import ThemeSwitchHiddenInputComponent from "@components/ThemeSwitch/ThemeSwitchHiddenInput.Component.astro";
---

<ThemeSwitchHiddenInputComponent />

<div class="content-wrapper">
  <slot />
</div>
