---
import i18next from "i18next";
import "@styles/theme.css";
import "@styles/global.css";

import BodyWrappedAroundThemeInputLayout from "@layouts/BodyWrappedAroundThemeInput.Layout.astro";
import BodyWrappedAroundLanguageInputLayout from "./BodyWrappedAroundLanguageInputLayout.astro";

const { title = "Vinícius Rodrigues de Aro" } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body id="top">
    <BodyWrappedAroundLanguageInputLayout>
      <BodyWrappedAroundThemeInputLayout>
        <slot />
      </BodyWrappedAroundThemeInputLayout>
    </BodyWrappedAroundLanguageInputLayout>
  </body>
</html>
